body {
    margin:0;
    padding:0;
}

.out-container {
    width: 100%;
    margin:  0;
    padidng: 0;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
#header {
    background: #00665C;
    padding: 20px 0;
}

#image {
    text-align: center;
}

#footer {
    background: #484848;
    color: #fff;
    padding: 20px 0 40px;
    font-weight: 100;
    font-size: 14px;
    float: left;
}
.credits {
    float: left;
}
.creditsR {
    float: right;
    margin: 0;
    padding: 0;
    margin-top: 0;
}

.creditsR li {
    list-style: none;
}

#covid {

}

.legenda{
width: 20%;
    float: left;
}

.analisi {
/*float: left;*/
 /*   width: 100%;*/
    margin: 40px 0;
    width: calc(100% - 50px);
}

.grafico {
 /*   width: 80%;
    float: left;*/
}

.legenda p {
        font-size: 12px;
}

#menutest {
display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#menutest button {
    margin-right: 10px;
    background: #00665C;
    border: 1px solid #fff;
    padding: 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#menutest button:hover {
    background: #fff;
    color: #00665C;
    border: 1px solid #00665C;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1080px) {
    .analisi {

    }
    .container {
    width: auto;
    }
}

@media screen and (max-width: 720px) {

    .analisi {

    }
}

@media screen and (max-width: 400px) {
    .analisi {

    }
}
