body {
    margin:0;
    padding:0;
}

.out-container {
    width: 100%;
    margin:  0;
    padidng: 0;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
#header {
    background: lightblue;
    padding: 20px 0;
}

#image {
    text-align: center;
}

#footer {
    background: #484848;
    color: #fff;
    padding: 20px 0 40px;
    font-weight: 100;
    font-size: 14px;
}