@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;900&display=swap');

body {
    font-family: 'Source Code Pro', serif;
}

h1 {
    font-size: 41px;
    font-weight: lighter;
    color: #fff;
}

h3 {
    font-weight: 200;
}

h2 {
    font-weight: 300;
    font-size: 21px;
}

h3 {
    font-weight: 400;
}