@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;900&display=swap');

body {
    font-family: 'Source Code Pro', serif;
}

h1 {
    font-size: 41px;
    font-weight: lighter;
    color: #fff;
    text-align: center;
}

h3 {
    font-weight: 200;
}

h2 {
    font-weight: 300;
    font-size: 21px;
    text-align: center;

}
h2:before {
    content: '';
    border-top: 2px solid #00665C;
    width: 50px;
    display: block;
    margin: 0 auto 10px;
}
h3 {
    font-weight: 400;
}